@font-face {
    font-family: 'Open Sans Condensed';
    src: url('OpenSansCondensed-Light.eot');
    src: url('OpenSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('OpenSansCondensed-Light.woff2') format('woff2'),
        url('OpenSansCondensed-Light.woff') format('woff'),
        url('OpenSansCondensed-Light.ttf') format('truetype'),
        url('OpenSansCondensed-Light.svg#OpenSansCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

